* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */

body {
  /* background-image: url("background.png");*/
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  height: auto;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#logo {
  width: 190px;
  padding: 0;
  color: #901c1c;
}
header ul {
  padding-top: 28px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav a {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  padding: 5px 8px 5px 8px;
  margin: 5px;
  text-decoration: none;
  border-radius: 14px;
  border: solid 1px #9b9b9b;
  color: #901c1c;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
  color: white;
  background-color: #d3573c;
}

main {
  padding-top: 15px;
}
H1 {
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: 35px;
  right: 20px;
  color: #901c1c;
  font-family: Arial, Helvetica, sans-serif;
}

/* TAG */
section {
  text-align: center;
}
section img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  object-fit: cover;
}
.portrait {
  justify-content: center;
  display: flex;
}

H2 {
  padding: 20px 0 5px 0;
  color: #d3573c;
  font-size: 36px;
  font-weight: 200;
}
.city_country {
  color: #901c1c;
  font-size: 15px;
  font-weight: 200;
}
.tagline {
  padding: 5px 0 6px 0;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.5);
}
.price {
  font-size: 11px;
  font-weight: 100;
}
ul.container_tags {
  padding: 10px 0 15px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#list_container1 {
  min-width: 315px;
}
.tags {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  padding: 5px 8px 5px 8px;
  margin: 5px;
  text-decoration: none;
  border-radius: 14px;
  border: solid 1px #9b9b9b;
  color: #901c1c;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 760px) and (max-width: 961px) {
  #list_container1 {
    width: 45%;
  }
  /* #list_container {
  }*/
}

@media screen and (min-width: 961px) {
  #list_container1 {
    width: 30%;
  }
  #list_container {
    justify-content: space-around;
    row-gap: 20px;
  }
  main {
    padding-top: 80px;
  }
  .mainphotograph {
    padding-top: 0;
  }
}

@media screen and (min-width: 1030px) {
  #logo {
    top: 70px;
    width: 220px;
    position: relative;
    padding: 25px 0 0 0px;
    color: #901c1c;
  }
  h1 {
    font-size: 21px;
    font-weight: 600;
    position: absolute;
    top: 45px;
    right: 20px;
    color: #901c1c;
    font-family: Arial, Helvetica, sans-serif;
  }
  header {
    margin-top: -90px;
  }
}

/* SECTION PHOTOGRAPHES */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.headerphotograph {
  margin-top: 10px;
}

#list_personnalphotographcontainer {
  display: flex;
  flex-wrap: wrap;
}
.pagePhotograph {
  min-width: 100%;
  min-height: 100%;
}
.taglinephotograph {
  margin-top: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

/* !!!*/

@media screen and (min-width: 669px) {
  .sectionPhotograph {
    margin: 10px 80px 10px 80px;
    background-color: #fafafa;
  }
  .taglinephotograph {
    padding: 0px 0 6px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
  }
}

/* formulaire */
/* position bouton iphone */

.formulaire {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 380px;
}
button.modal-btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;

  font-size: 16px;
  background-color: #901c1c;
  color: white;
}

@media screen and (min-width: 330px) and (max-width: 385px) {
  .container_photographtags {
    padding-top: 60px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
  }
}

@media screen and (min-width: 669px) {
  .formulaire {
    display: flex;
    justify-content: center;
    margin: -186px 0 0 65px;
  }
  button.modal-btn {
    height: 43px;
    width: 130px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
}

.modal-body {
  width: 375px;
  height: 835px;
  padding: 110px 0 0 15px;
  border-radius: 5px;
  /*Blend:Pass through;*/
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #db8876;
}

.textcontrol {
  margin-top: 5px;
  border: none;
  width: 338px;
  height: 52px;
  top: 177px;
  left: 17px;
  border-radius: 5px;
  display: flex;
  right: 5.23%;
  bottom: 66.11%;

  background: #ffffff;
  border-radius: 5px;
  /*Blend :Pass through;*/
}

label {
  display: flex;
}

textarea.textcontrol {
  font-size: 20px;
  padding-left: 10px;
  color: black;
  width: 338px;
  height: 165px;
  top: 492px;
  left: 17px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contactez-moi {
  position: absolute;
  left: 4.53%;
  right: 28%;
  top: 2.46%;
  bottom: 91.75%;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */

  color: #000000;
}
.hautformulaire {
  font-family: DM Sans;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 46, 87px;
}
.btn-submit {
  width: 170px;
  height: 35px;
  top: 750px;
  left: 97px;
  border-radius: 5px;
  color: white;
  position: absolute;

  right: 28.8%;

  bottom: 9.24%;
  border: none;
  /*display: flex;*/
  cursor: pointer;
  background: #911c1c;
}
p.namephotograph {
  position: absolute;
  left: 4.53%;
  right: 28%;
  top: 7.46%;
  bottom: 91.75%;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */

  color: #000000;
}
/*
#closebtn {
  position: absolute;
  left: 20.83%;
  right: 20.83%;
  top: 20.83%;
  bottom: 20.83%;

  background: #ffffff;
}
*/
span#closebtn {
  position: absolute;
  color: white;
  opacity: 1;
  cursor: pointer;
  z-index: 1;
  /* right: -43px; */
  left: 323px;
  /* font-size: 13px; */
  top: 17px;
}
/*
  position: absolute;
}*/

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 24px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.content {
  margin: 5% auto;

  width: 100%;
  position: relative;
}
.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(82, 82, 82, 0.4);
}
input {
  font-size: 20px;
  padding-left: 10px;
  color: black;
}
#submitMessage {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-validation {
  width: 40%;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #901c1c;
  color: white;
}

.submitMessage {
  margin: auto;

  width: 75%;
  padding: 120px 0 30px 0;
  text-align: center;
  font-size: 30px;
}

/* PAGE PERSONNELLE */

.taillephotographiphone {
  align-self: flex-end;
  position: absolute;
}

#portraitphotograph {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: cover;
}

#pagePhotograph {
  margin: 20px 20px 0 20px;
}
a.tagsphotograph {
  margin-right: 5px;
}
ul.container_photographtags {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
}

.h2photograph {
  padding: 10px 0 5px 0;
  color: #d3573c;
  font-size: 40px;
  font-weight: 200;
}
img#logophotograph {
  width: 250px;
  padding: 15px 0 0 0;
  margin-left: -45px;
  color: #901c1c;
}

.articlephotograph {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

div#list_photographcontainer {
  display: flex;
  flex-direction: column;

  /* a enlever plus tard*/
}

.tagsphotograph {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
  border-radius: 14px;
  border: solid 1px #9b9b9b;
  color: #901c1c;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#list_photographcontainer {
  text-align: left;
  position: relative;
}

/* page personnel mediaqueries */
@media screen and (min-width: 669px) {
  #pagePhotograph {
    margin: 30px 40px 0 40px;
  }
  #list_photographcontainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    padding: 5px 20px 20px 20px;
    /* a enlever plus tard*/
  }
  #list_photographcontainer {
    background-color: #fafafa;
    margin-bottom: 10px;
    /* a enlever plus tard*/
  }

  .taillephotographiphone {
    align-self: flex-end;
    top: 19%;
  }
  #portraitphotograph {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

/*
//////////////////
*/

/* SELECT BOUTON TRIER PAR*/

select {
  width: 150px;
}
.custom_select {
  font-family: arial;
  padding-left: 2px;
  font-size: 16px;
  color: white;
  width: 125px;
}
.custom_select select {
  display: none;
}
/* 1er bouton */
.newselecttrier {
  background-color: #901c1c;
  border: none;
  padding: 15px;

  font-weight: lighter;
  color: white;
}
/*fleche dans trier par */
/*
.newselecttrier::after {
  content: "";

  top: 14px;
  right: 5px;
  border: 6px solid;
  border-color: #fff transparent transparent transparent;
  color: white;
  height: 0;
}
*/
.newselecttrier::after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 900;
}

.triertext {
  color: black;
  text-align: left;
  font-weight: bold;
  padding-top: 15px;
  font-size: 16px;
  padding-right: 15px;
}
.select-items div {
  background-color: #901c1c;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 15px;
}
.select-items div:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.select-hide {
  display: none;
}

.trierpar {
  height: 200px;
  position: relative;
  display: flex;
  top: 1700px;
}

.newselecttrier.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 900;
}
/*
flèche haut sur option !!!!
.select-items.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 900;
}
*/
/*
@media screen and (min-width: 768px) {
  div.custm_select {
    display: block;
  }
}
*/
/* GALERIE PHOTOS */

.articlephotograph {
  margin: 0;
  padding: 0;
  margin-top: -580px;
}
#galeriephotos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  row-gap: 30px;
  display: flex;
}

#galeriephotos img {
  width: calc(100% - 0px);
  height: 220px;
  object-fit: cover;
  background-size: contain;
  object-position: 0 -21px;
}

@media screen and (min-width: 500px) {
  #galeriephotos img {
    width: calc(50% - 10px);
    height: 220px;
    object-fit: cover;
    background-size: contain;
    object-position: 0 -21px;
  }

  .trierpar {
    height: 200px;
    position: relative;
    display: flex;
    top: 910px;
  }
}

@media screen and (min-width: 669px) {
  #galeriephotos img {
    width: calc(32% - 10px);
    height: 220px;
    object-fit: cover;
    background-size: contain;
    object-position: 0px 0px;
  }
  .articlephotograph {
    margin-top: 0px;
  }
  .trierpar {
    top: 117px;
  }
}
/* autre posibilité 


*/
.heartcontainer {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 10px;
}
/* 1er enlevement bordure icon */
.heartbtn {
  border: 0px;

  font-size: 20px;
}
/* 2eme enlevement contour icon peu visible  */
button.heartbtn {
  background-color: white;
  margin-top: -3px;
}
.heartbtn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  display: inline-block;
  padding-left: 0px;
  vertical-align: middle;
  font-weight: 900;
  color: #911c1c;
}
/* nbre de like */
a#clicks {
  color: #901c1c;
  font-weight: 600;
  font-size: 22px;
}
